<div class="cabecalho">
  <h1 class="border-bottom">Cadastro de Serviços</h1>
</div>
<div class="busca">
  <h5 class="border-bottom">Buscar Serviço</h5>
</div>
<div class="painel-busca">
  <form #f="ngForm" (ngSubmit)="onSubmit(servico.nomeServico)">
    <div class="form-row">
      <div class="col-auto">
        <label for="nomeServico" style="margin-top: 6px;">Nome:</label>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="nomeServico">Serviço</label>
        <input #nomeServico="ngModel" type="text" class="form-control mb-2" id="nomeServico"
          placeholder="Digite o serviço aqui..." name="nomeServico" [(ngModel)]="servico.nomeServico">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-success mb-2" routerLink="/cadastro/servicos/novoservico">Novo</button>
      </div>
    </div>
 </form>
</div>
<div class="row">
  <div class="col md-8 mx-auto">
      <app-error-msg></app-error-msg>
      <div class="text-center" *ngIf="!existemServicos()">
          Nenhum Serviço Cadastrado!
      </div>
  </div>
</div>
<div class="tabela-cadastro">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servico of servicos | paginate: {itemsPerPage: contador, currentPage: pag}; let i = index">
        <td>{{servico.nomeServico}}</td>
        <td>R$ {{servico.valorServico}}</td>
        <td>
          <button type="button" id="btn-editar" class="btn btn-warning btn-sm mr-2" routerLink="/cadastro/servicos/editar/{{servico.idServico}}">Editar</button>
          <button type="button" id="btn-excluir" class="btn btn-danger btn-sm" (click)="excluir(servico.idServico)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir o Serviço?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
