<div class="cabecalho">
    <h1 class="border-bottom">Cadastrar Fornecedor</h1>
</div>
<div class="form-busca">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nomeFornecedor">Nome</label>
                <input
                    #nomeFornecedor="ngModel"
                    [class.is-invalid]="!nomeFornecedor.valid && nomeFornecedor.touched"
                    type="text" 
                    class="form-control" 
                    id="nomeFornecedor" 
                    name="nomeFornecedor"
                    [(ngModel)]="fornecedor.nomeFornecedor"
                    required
                    placeholder="Digite o nome do Forcecedor">
                <div *ngIf="!nomeFornecedor.valid && nomeFornecedor.touched" class="invalid-feedback">
                    Digite o nome do Fornecedor
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="mailFornecedor">E-mail</label>
                <input
                    #mailFornecedor="ngModel"
                    [class.is-invalid]="!mailFornecedor.valid && mailFornecedor.touched"
                    type="email" 
                    class="form-control" 
                    id="mailFornecedor" 
                    name="mailFornecedor"
                    [(ngModel)]="fornecedor.mailFornecedor"
                    required
                    placeholder="Digite o e-mail do Forcecedor">
                <div *ngIf="!mailFornecedor.valid && mailFornecedor.touched" class="invalid-feedback">
                    Digite o e-mail do Forcecedor
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="foneFornecedor">Telefone</label>
                <input 
                    type="tel"
                    #foneFornecedor="ngModel"
                    [class.is-invalid]="!foneFornecedor.valid && foneFornecedor.touched"
                    [(ngModel)]="fornecedor.foneFornecedor"
                    class="form-control" 
                    id="foneFornecedor" 
                    name="foneFornecedor"
                    placeholder="Digite o Telefone do(a) Cliente"
                    onkeypress="$(this).mask('(00) 00000-0000')"
                    required>
                <div *ngIf="!foneFornecedor.valid && foneFornecedor.touched" class="invalid-feedback">
                    Digite o Telefone do(a) Cliente
                </div> 
            </div>
            <div class="form-group col-md-12">
                <label for="obsFornecedor">Observações</label>
                <textarea class="form-control" 
                    #obsFornecedor="ngModel"
                    [(ngModel)]="fornecedor.obsFornecedor"
                    id="obsFornecedor" 
                    name="obsFornecedor"
                    rows="3"
                    placeholder="Digite alguma Observação caso necessária">
                </textarea>
            </div>
            <div class="form-group col-md-12 mt-4">
                <button type="submit" class="btn btn-success btn-lg ml-2 float-right" [disabled]="!f.valid">Inserir</button>
                <button type="submit" class="btn btn-primary btn-lg  float-right" routerLink="/cadastro/fornecedores">Voltar</button>
            </div>
        </div>
    </form>
</div>