<div class="cabecalho">
  <h1 class="border-bottom">Cadastro de Profissionais</h1>
</div>
<div class="busca">
  <h5 class="border-bottom">Buscar Profissional</h5>
</div>
<div class="painel-busca">
  <form>
    <div class="form-row">
      <div class="col-auto">
        <label for="nome-profissional" style="margin-top: 6px;">Nome:</label>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="nome-profissional">Nome</label>
        <input type="text" class="form-control mb-2" id="nome-profissional" placeholder="Digite o nome aqui...">
      </div>
      <div class="col-auto">
        <label for="cpf-profissional" style="margin-top: 6px;">CPF:</label>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="cpf-profissional">CPF</label>
        <input type="text" class="form-control mb-2" id="cpf-profissional" placeholder="Digite o CPF aqui...">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-success mb-2" routerLink="/cadastro/profissionais/novoprofissional">Novo</button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col md-8 mx-auto">
      <app-error-msg></app-error-msg>
      <div class="text-center" *ngIf="!existemProfissionais()">
          Nenhum Profissional cadastrado!
      </div>
  </div>
</div>
<div class="tabela-cadastro">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profissional of profissionais | paginate: {itemsPerPage: contador, currentPage: pag}; let i = index">
        <th>{{profissional.nomeProfissional}}</th>
        <td>{{profissional.funcaoProfissional}}</td>
        <td>{{profissional.foneProfissional}}</td>
        <td>
          <button type="button" id="btn-editar" class="btn btn-warning btn-sm mr-2" routerLink="/cadastro/profissionais/editar/{{profissional.idProfissional}}">Editar</button>
          <button type="button" id="btn-excluir" class="btn btn-danger btn-sm" (click)="excluir(profissional.idProfissional)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir o Profissional?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>