<div class="cabecalho">
    <h1 class="border-bottom">Cadastrar Produto</h1>
</div>
<div class="form-busca">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nomeProduto">Nome</label>
                <input
                    #nomeProduto="ngModel"
                    [class.is-invalid]="!nomeProduto.valid && nomeProduto.touched"
                    type="text"
                    [(ngModel)]="produto.nomeProduto" 
                    class="form-control" 
                    id="nomeProduto"
                    name="nomeProduto"
                    placeholder="Digite o nome"
                    required>
                <div *ngIf="!nomeProduto.valid && nomeProduto.touched" class="invalid-feedback">
                    Digite o nome do Produto
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="valorCompraProduto">Valor de Compra</label>
                <input
                    #valorCompraProduto="ngModel"
                    [class.is-invalid]="!valorCompraProduto.valid && valorCompraProduto.touched"
                    [(ngModel)]="produto.valorCompraProduto"
                    type="number" 
                    class="form-control" 
                    id="valorCompraProduto" 
                    name="valorCompraProduto"
                    placeholder="R$"
                    required>
                <div *ngIf="!valorCompraProduto.valid && valorCompraProduto.touched" class="invalid-feedback">
                    Digite o valor de compra Produto
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="valorVendaProduto">Valor de Venda</label>
                <input
                    #valorVendaProduto="ngModel"
                    [class.is-invalid]="!valorVendaProduto.valid && valorVendaProduto.touched"
                    [(ngModel)]="produto.valorVendaProduto"
                    type="number" 
                    class="form-control" 
                    id="valorVendaProduto" 
                    name="valorVendaProduto"
                    placeholder="R$"
                    required>
                <div *ngIf="!valorVendaProduto.valid && valorVendaProduto.touched" class="invalid-feedback">
                    Digite o valor do Produto
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="qtdeProduto">Quantidade</label>
                <input 
                    #qtdeProduto="ngModel"
                    [class.is-invalid]="!qtdeProduto.valid && qtdeProduto.touched"
                    [(ngModel)]="produto.qtdeProduto"
                    type="number"
                    class="form-control" 
                    id="qtdeProduto"
                    name="qtdeProduto"
                    placeholder="0"
                    required>
                <div *ngIf="!qtdeProduto.valid && qtdeProduto.touched" class="invalid-feedback">
                    Digite a quantidade do Produto
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="dataCompraProduto">Data de Compra</label>
                <input
                    #dataCompraProduto="ngModel"
                    [class.is-invalid]="!dataCompraProduto.valid && dataCompraProduto.touched"
                    [(ngModel)]="produto.dataCompraProduto"
                    type="date"
                    class="form-control" 
                    id="dataCompraProduto"
                    name="dataCompraProduto" 
                    required>
                <div *ngIf="!dataCompraProduto.valid && dataCompraProduto.touched" class="invalid-feedback">
                    Selecione a Data de Compra do Produto
                </div>  
            </div>
            <div class="form-group col-md-6">
                <label for="obsProduto">Observações</label>
                <textarea
                    #obsProduto="ngModel"
                    [(ngModel)]="produto.obsProduto"
                    class="form-control" 
                    id="obsProduto"
                    name="obsProduto"
                    rows="3"
                    placeholder="Digite alguma Observação caso necessária"></textarea>
            </div>
            <div class="form-group col-md-12 mt-4">
                <button type="submit" class="btn btn-success btn-lg ml-2 float-right" [disabled]="!f.valid">Inserir</button>
                <button type="submit" class="btn btn-primary btn-lg  float-right" routerLink="/cadastro/produtos">Voltar</button>
            </div>
        </div>
    </form>
</div>